<ion-view view-title="Running Game" class="score-board">
    <ion-content>
        <div class="row">
            <div class="col col-50">
                <div class="card">
                    <div class="item score-table">
                        <span ng-bind="scoreFirstTeam"></span>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card">
                    <div class="item score-table">
                        <span ng-bind="scoreSecondTeam"></span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>