<ion-view view-title="Team">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Team Name" name="name" ng-model="team.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Team Subject" name="subject" ng-model="team.subject">
            </label>
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" >
        <div class="button-bar">
            <button class="button button-positive" style="width: 50%;" ng-click="saveTeam()">
                Save
            </button>
            <button class="button button-assertive" style="width: 50%;" ng-click="cancelTeam()">
                Cancel
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
