<ion-view view-title="Game">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Game Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Game Subject">
            </label>
        </div>
        
        <div class="button-bar">
            <button class="button button-positive" style="width: 50%;">
                Accept
            </button>
            <button class="button button-assertive" style="width: 50%;">
                Cancel
            </button>
        </div>
        
    </ion-content>
</ion-view>
