<ion-view view-title="Entry">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label">
                    First Team
                </div>
                <select ng-model="entry.firstTeam" ng-options="team as team.name for team in FirstTeams" ng-Click="updateFirstTeams()">
                    <option value="">-- Select Team --</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Second Team
                </div>
                <select ng-model="entry.secondTeam" ng-options="team as team.name for team in SecondTeams" ng-Click="updateSecondTeams()">
                    <option value="">-- Select Team --</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Type Game
                </div>
                <select ng-model="entry.gameType" ng-options="game as game.name for game in GameTypes" ng-Click="updateGameTypes()">
                    <option value="">-- Select GameType --</option>
                </select>
            </label>

            <button class="button button-block button-assertive" ng-Click="startGame()">
                Start Game
            </button>
        </div>
    </ion-content>
</ion-view>
