<ion-view view-title="Entry">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label">
                    First Team
                </div>
                <select>
                    <option>Teener</option>
                    <option selected>Dark Teener</option>
                    <option>Loco</option>
                </select>
            </label>
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Second Team
                </div>
                <select>
                    <option>Ramones</option>
                    <option selected>Los Peres</option>
                    <option>Los Detrosadores</option>
                </select>
            </label>
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Type Game
                </div>
                <select>
                    <option>Basket</option>
                    <option selected>Dominoes</option>
                    <option>Football</option>
                </select>
            </label>
            
        </div>
    </ion-content>
</ion-view>
