<ion-view view-title="Game">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Game Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Game Subject">
            </label>
        </div>
        
    </ion-content>
    <ion-footer-bar align-title="left" >
        <div class="button-bar">
            <button class="button button-positive" style="width: 50%;">
                Save
            </button>
            <button class="button button-assertive" style="width: 50%;">
                Cancel
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
